[submodule "module/rend"]
	path = module/rend
	url = https://github.com/lightsource-nz/rend.git
[submodule "module/light_display"]
	path = module/light_display
	url = https://github.com/lightsource-nz/light_display.git
[submodule "module/light_display_sh1107"]
	path = module/light_display_sh1107
	url = https://github.com/lightsource-nz/light_display_sh1107.git
[submodule "module/light_ioport"]
	path = module/light_ioport
	url = https://github.com/lightsource-nz/light_ioport.git
[submodule "module/light_display_sh1106"]
	path = module/light_display_sh1106
	url = https://github.com/lightsource-nz/light_display_sh1106.git
[submodule "module/light_display_po13"]
	path = module/light_display_po13
	url = https://github.com/lightsource-nz/light_display_po13.git
[submodule "cmake/light_presets"]
	path = cmake/light_presets
	url = https://github.com/lightsource-nz/light_presets.git
[submodule "module/light_display_st7789"]
	path = module/light_display_st7789
	url = https://github.com/lightsource-nz/light_display_st7789.git
[submodule "module/light_touch"]
	path = module/light_touch
	url = https://github.com/lightsource-nz/light_touch.git
[submodule "module/light_touch_cst816t"]
	path = module/light_touch_cst816t
	url = https://github.com/lightsource-nz/light_touch_cst816t.git
[submodule "module/light_button"]
	path = module/light_button
	url = https://github.com/lightsource-nz/light_button.git
[submodule "module/light_canvas"]
	path = module/light_canvas
	url = https://github.com/lightsource-nz/light_canvas.git
[submodule "module/light_imu"]
	path = module/light_imu
	url = https://github.com/lightsource-nz/light_imu.git
[submodule "module/light_imu_qmi8658"]
	path = module/light_imu_qmi8658
	url = https://github.com/lightsource-nz/light_imu_qmi8658.git
[submodule "module/light_ui"]
	path = module/light_ui
	url = https://github.com/lightsource-nz/light_ui.git
[submodule "module/light_backlight"]
	path = module/light_backlight
	url = https://github.com/lightsource-nz/light_backlight.git
